.app-container {
  margin: auto;
  width: 80%;
  padding-bottom: 20px;
}

/* Header CSS */
.head-top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 0;
}
.head-top > div,
.head-user > div,
.head-user > p {
  margin-left: 10px;
}
.head-user {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 6px;
}
